
body{
    box-sizing: border-box;
    margin-left:1.2%;
    padding: 0;
    width: 96%;
    /* background-color: #24252A; */
    background:url(./wallet\ client1.jpg) center/cover ;  
}

li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    /* justify-content: space-between; */
    justify-content:right;
    align-items: center;
    padding:30px 2.5%;
    border: 2px solid rgb(26, 255, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 97%;
    margin: 0% auto;
    max-height: 10px;
    /* transform: translateY(10%); */
    background: rgb(3, 102, 3);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}

main{
    background-color: rgba(40, 214, 40, 0.823) ;
    padding:30px 5%;
    border: 2px solid rgb(26, 255, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 700px;
    color: azure;
    width: 92%;
    margin: 0% auto;
    border-top: none;
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
    grid-template-rows: 60px 60px;
}

#title{
    color: white;
    font-size: x-large;
    margin-right: auto;
}

.elem_toolbar{
    /* border: 2px solid red; */
    list-style: none;
}

.elem_toolbar li{
    display:inline-block;
    padding: 0px 10px;
}

.elem_toolbar li img{
    transition: all 0.3s ease 0s;
    /* border: solid 2px blue; */
    height: 30px;
    margin-top: 5px;
}

button{
    padding:9px 25px;
    border: solid 2px green;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: green;
    width: 100%;
    
}

button:hover{
    background-color: rgb(8, 168, 8);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}


#BtnConf{
    margin:  auto; /*me permet d'aligner mon texte au centre de la grid*/
    margin-top: 20px;/*permet de redescendre le bouton par rapport aux champs*/
    vertical-align: middle; /* permet de centrer verticalement un texte !attention! margin doit être auto pour tout les cotés*/
    border: 2px solid rgb(7, 125, 25);
    border-radius: 10px;
    background-color: green;
    color: rgb(244, 225, 225);
    padding: 4%;
    transition: 0.2s;
    font-size: 110%; /*taille du mot connexion*/
    width: 60%; /*largeur du bouton*/
}

/* lorsque le bouton est survolé */
#BtnConf:hover{
    cursor: pointer;
    background-color: rgb(8, 168, 8);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}

.containerHome{
    /* border: solid 2px red; */
    display: flex;
    height: 650px;
}

.input{
    /* border : solid blue 2px; */
    width: 300%;
    /* margin-top: 10%; */
    height: 650px;
    display: grid;
}

#icon{

    transform: translateX(70%);
}

#BtnVisu{

     margin:  auto; /*me permet d'aligner mon texte au centre de la grid*/
        margin-top: 20px;/*permet de redescendre le bouton par rapport aux champs*/
        vertical-align: middle; /* permet de centrer verticalement un texte !attention! margin doit être auto pour tout les cotés*/
        border: 2px solid rgb(7, 125, 25);
        border-radius: 10px;
        background-color: green;
        color: rgb(244, 225, 225);
        padding: 4%;
        transition: 0.2s;
        font-size: 110%; /*taille du mot connexion*/
        width: 60%; /*largeur du bouton*/
        transform: translateX(-32.5%);

}

#BtnVisu:hover{
    cursor: pointer;
        background-color: rgb(8, 168, 8);
        box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}