<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <title>Connection</title>
    <link rel="stylesheet" href="F-Style1.css">
    <link rel="shortcut icon" href="wallet-icon-png-5.png">

</head>
<body>

<main>
    <div class="gridConnexion">
        <div class="containerConnexion">

            <!-- formulaire -->
            <form action="">

                <h1 id="GT"> Gérer la consommation d'énergie de vos clients en temps réel </h1>
                <div class="inputCo">
                    <!-- ATTENTION à changer pcq le bouton ne marche uniquement
                    si c'est de type "submit" et qu'il y a le mot "formaction" -->
                    <input type="submit" formaction="Login2.html" id="Login" value="Se Connecter">
                    <!-- <h4 id="newOr">ou</h4> -->
                    <!-- <input type="button" id="NewAcc" value="Créer un compte"> -->
                    <!-- <input type="submit" formaction="CreateAccount.html" id="NewAcc" value="Créer un compte"> -->
                </div>
                <!-- <h4 id="or"> ou </h4> -->

            </form>

            <!-- LogoApp -->
            <img src ="wallet-icon-png-5.png">

        </div>
    </div>
</main>

</body>
</html>