<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChangePassword</title>
  <link rel="stylesheet" href="/css/Style3.css">
  <link rel="shortcut icon" href="wallet-icon-png-5.png">
</head>
<body>
<header>
  <h4 id="title"> Modifier mot de passe </h4>
  <nav>
    <ul class="elem_toolbar">
      <!-- <li><a href="#">services</a></li> -->
      <li><a href="#"><img class="logo" src="SettingsIcon.png" alt="logo"></a></li>
      <li><a href="#"><img class="logo" src="NotifWhite.png" alt="logo"></a></li>
    </ul>
  </nav>

  <a class="btn" href="Login.html"><button>Deconnexion</button></a>
</header>
<main>
  <form th:action="@{/verification}" th:object="${ResetPwd}" method="post" style="max-width: 600px; margin: 0 auto;" class="text-center">
    <div class="MDPChamps" id="MDPChamps">
      <div class="champs">
        <h2 id="txtMyWallet">Modifier mot de passe</h2>

        <div class="form-group row">
          <label class="col-4 col-form-label">mot De Passe: </label>
          <div class="col-8">
            <input type="password" th:field="*{motDePasse}" class="form-control password-field" onkeyup="hidePassword()"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Nouveau mot de passe: </label>
          <div class="col-8">
            <input type="password" th:field="*{nouveau_mdp}" class="form-control password-field" required minlength="6" maxlength="20" onkeyup="hidePassword()"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Confirmer le mot de passe: </label>
          <div class="col-8">
            <input type="password" th:field="*{confirm_mdp}" class="form-control password-field" required minlength="6" maxlength="20"  onkeyup="hidePassword()"/>
          </div>
        </div>
        <input type="submit" id="BtnConf" value="envoyer">
      </div>
    </div>
  </form>
  <script>
    function hidePassword() {
      var passwordFields = document.querySelectorAll(".password-field");
      passwordFields.forEach(function(passwordField) {
        passwordField.value = "*".repeat(passwordField.value.length);
      });
    }
  </script>
</main>
</body>
</html>
