<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma consommation de Gaz</title>
    <link rel="stylesheet" href="/css/Style3.css">
    <link rel="shortcut icon" href="wallet-icon-png-5.png">
</head>
<body>
<header>
    <h4 id="title"> Ma consommation de gaz </h4>
    <nav>
        <ul class="elem_toolbar">
            <!-- <li><a href="#">services</a></li> -->
            <li><a href="#"><img class="logo" src="SettingsIcon.png" alt="logo"></a></li>
            <li><a href="#"><img class="logo" src="NotifWhite.png" alt="logo"></a></li>
        </ul>
    </nav>
    <form action="/login" method="GET">
    <a class="btn" href="Login.html"><button>Deconnexion</button></a>
    </form>
</header>
<main>
    <div class="counter">
        <form id="formCounter">
            <h1 id="NewConso">Nouvelle consommation</h1>
            <input id="CounterInput" type="date" min="0" placeholder="Date">
            <input id="CounterInput" type="number" min="0" placeholder="Quantité    m³">
            <input type="submit" formaction="#" id="BtnConf" value="envoyer">
        </form>
    </div>
</main>
</body>
</html>