<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
    <link rel="shortcut icon" href="wallet-icon-png-5.png">
    <link rel="stylesheet" href="/css/Style2.css">

</head>
<body>
    <main class="mainForgotPassword">
        <form th:action="@{/verification}" th:object="${ResetPwd}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3 text-center">
                <div class="form-group row">
                    <label class="col-4 col-form-label">email: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">mot De Passe: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{motDePasse}" class="form-control" required minlength="6" maxlength="10"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{nouveau_mdp}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Last Name: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{confirm_mdp}" class="form-control"
                               required minlength="2" maxlength="20" />
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">ENVOYER</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>