<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion du portefeuille</title>
    <link rel="stylesheet" href="/css/Style3.css">
    <link rel="shortcut icon" href="wallet-icon-png-5.png">

</head>
<body>
<header>
    <h4 id="title"> Gestion du portefeuille </h4>
    <nav>
        <ul class="elem_toolbar">
            <!-- <li><a href="#">services</a></li> -->
            <li><a href="#"><img class="logo" src="SettingsIcon.png" alt="logo"></a></li>
            <li><a href="#"><img class="logo" src="NotifWhite.png" alt="logo"></a></li>
        </ul>
    </nav>
    <form action="/login" method="GET">
    <a class="btn" href="login"><button>Deconnexion</button></a>
    </form>
</header>
<main>
    <form id="FormMW">
        <div class="boutonOpt">
            <input type="submit" formaction="#" id="BtnOpt" value="Supprimer portefeuille">
            <form action="/MyConsumption" method="GET">
            <input type="submit" formaction="MyConsumption" id="BtnOpt" value="Ma consommation">
            </form>
            <form action="/ModifierWallet" method="GET">
            <input type="submit" formaction="ModifierWallet" id="BtnOpt" value="Modifier Portefeuille">
            </form>
        </div>
    </form>
</main>
</body>
</html>