<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Facturation d'énergie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style2.css">
    <script type="text/javascript">
		function calculerFacture(nombre) {
			var prixKWh = 0.15; // Prix du kWh
			var totalConsommation = 0;
			var totalFacture = 0;
			var mois = document.getElementsByName('mois');

			var consommation = document.getElementsByName('consommation')[nombre].value;

			var moisConsommation = parseFloat(consommation.value);
			var moisFacture = moisConsommation * prixKWh;

			facture[nombre].value = moisFacture.toFixed(2);
			console.log(facture[nombre])
		}
	</script>
</head>
<body>
<header>
    <h1>Facturation d'énergie</h1>
    <p>Entrez les informations de consommation d'énergie pour chaque mois :</p>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>Mois</th>
            <th>Consommation (kWh)</th>
            <th>Facture (€)</th>
            <th>Statut de paiement</th>
            <th>calculer ma facture mentuel </th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <form th:action="@{/calcul_facture}" method="get">
                <td><input type="text" name="mois" value="Février" readonly></td>
                <td><input type="number" name="consommation" th:value="${consommation}"min="0" step="0.01"></td>
                <td><input type="text" name="facture" readonly th:value="${facture}"></td>
                <td><input type="text" name="statut" value="impayé" readonly></td>
                <td><input type="submit" value="calculer la facture"><td>
            </form>
        </tr>


        <tr>
            <td><input type="text" name="mois" value="Mars" readonly></td>
            <td><input type="number" name="consommation" min="0" step="0.01"></td>
            <td><input type="text" name="facture" readonly></td>
            <td><input type="text" name="statu de paiement" value="impayé" readonly></td>
            <td><input type="submit" value="calculer la facture"><td>
        </tr>
        </tbody>
    </table>
</main>