<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/css/Style3.css">
    <link rel="shortcut icon" href="wallet-icon-png-5.png">
</head>
<body>
<header>
    <h4 id="title"> Paramètres </h4>
    <nav>
        <ul class="elem_toolbar">
            <!-- <li><a href="#">services</a></li> -->
            <li><a href="#"><img class="logo" src="SettingsIcon.png" alt="logo"></a></li>
            <li><a href="#"><img class="logo" src="NotifWhite.png" alt="logo"></a></li>
        </ul>
    </nav>
    <form action="/login" method="GET">
    <a class="btn" href="Login.html"><button>Deconnexion</button></a>
    </form>
</header>
<main>
    <div class="setting">
        <div id="lang">
            <h2 id="LG">Langue</h2>
            <input type="submit" id="BtnLG" value="Français">
            <input type="submit" id="BtnLG" value="English">
        </div>
        <form action="/ChangePassword" method="GET">
            <div id="PSW">
                <h2 id="MPSW">Modifier Mot de passe</h2>
                <input type="submit" formaction="ChangePassword.html" id="BtnLG" value="Modifier">
            </div>
        </form>
    </div>
</main>
</body>
</html>