<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualiser Habiation</title>
  <link rel="stylesheet" href="/css/Style3.css">
  <link rel="shortcut icon" href="wallet-icon-png-5.png">

</head>
<body>
<header>
  <h4 id="title"> Visualiser Habitation </h4>
  <nav>
    <ul class="elem_toolbar">
      <!-- <li><a href="#">services</a></li> -->
      <li><a href="#"><img class="logo" src="SettingsIcon.png" alt="logo"></a></li>
      <li><a href="#"><img class="logo" src="NotifWhite.png" alt="logo"></a></li>
    </ul>
  </nav>
  <form action="/login" method="GET">
  <a class="btn" href="Login.html"><button>Deconnexion</button></a>
  </form>
</header>
<main>
  En attente de résolution du problème de l'API
</main>
</body>