

body {
    /* background-color: rgba(10, 136, 10, 0.864); */
    background:url(./wallet\ client1.jpg) center/cover;
    min-height: 100vh;
    
    
}

.gridConnexion{
    background-color: rgba(40, 214, 40, 0.823);
    width: 96%;    /* 95% */
    min-height: 700px; /* 550px */
    border: 2px solid rgba(12, 255, 4, 0.901);
    margin: 0% auto; 
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    box-shadow: rgba(22, 132, 29, 0.933) 3px 3px 14px 6px;
    border-radius: 10px;
    padding: 0px;
    /* padding: 100px; */

}

/* Grille des contenue */
/* permet de gèrer de manière général les contenus, leur positions, etc. */
.containerConnexion{
    min-height: 500px;
    /* border: 2px solid rgb(246, 7, 7); */
    display: grid;
    grid-template-columns: 60% 40%;
    /* donne l'effet que le contenu de la box est plus à l'intérieur 
    cet effet d'enfoncé, de rapprochement */
    padding: 40px;
    margin: 30px;
    
}

/* L'image se trouvant dans la gridConnexion */
.gridConnexion img{
    max-width: 80%;
    margin: 65px 20px;
    padding: 40px;
}

/* Formulaire contenant le grand titre + la grille des input */
form{
    /* permet à un objet comme le texte "ou" de se positioner n'importe
    dans les frontières du form où dans*/
    position: relative;
    grid-template-columns: 1fr ;
    padding: 10px;
}

/* Grilles des inputs */
.inputCo{
    /* border: 2px solid rgb(246, 0, 0); */
    /* margin: 10%; */
    display: grid; /*mise sous forme de grille */
    height:40%; /*taille en hauteur du cadre des input*/
    width: 30%; /*largeur du cadre des input*/
    margin: 0px;
    grid-row-gap: 0% ;
    right: 30%;  
    transform: translateX(30%); 

}

/* bouton input */
input{
    /* position: absolute; */
    width:  100%;
    height: 100%;
    border-radius: 10px;
    background-color: chartreuse;
    font-weight: 750;
    /* color: white; */
    /* input centré */
    /* right: 50%;  */
    /* transform: translateX(50%); */
}

/* Lorsque les input sont survolés */
input:hover{
    background-color: rgba(40, 253, 12, 0.603);
    cursor: pointer;
}

/* ecrito ou */
#newOr{
    margin: 0px;
    text-align: center;
    /* padding-top:0% ; */
    color: white;
    font-size: 150%;
    
}

/* Grand titre */
#GT{
    margin: 0px;
    font-size: 70px;
    color: white;
    margin-bottom: 10%;
    text-shadow: 2px 2px 1px black ;

    
}

/*  peut etre à supp */
#or{
    position: absolute;
    max-height: 10px;
    margin: 10px;

    left: 21.8%;/*écarte l'element de ..% du bas par rapport à sa position de base*/
    bottom: 33.8%; /*écarte l'element de ..% du bas par rapport à sa position de base*/
    font-size: 30px;
    color: white;
}



